header h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Times New Roman";
}

#valueForTree{
    text-align: center;
    width: 250px;
}

#treeViewer {
    width: 260px;
    resize: none;
}
