:root {
  font-size: 10px;
}

#main-header h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Yusei Magic", sans-serif;
  font-size: 4.5rem;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center
}

#valueForTree {
  text-align: center;
  width: 500px;
  font-family: "Yusei Magic", sans-serif;
  border: 2px solid #111;
}

#options {
  margin: 5px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#options button,
#btn-fromfile {
  font-family: "Yusei Magic", sans-serif;
  background: #111;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  border-radius: 15px;
  margin: 5px;
  cursor: pointer;
}

#options button:hover,
#btn-fromfile:hover {
  background: #555;
}

#treeViewer {
  width: 510px;
  border: 2px solid #111;
}

label {
  font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
  header h1 {
    font-size: 3.5rem;
  }

  #valueForTree {
    width: initial;
  }

  #options {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  #treeViewer {
    width: 330px;
  }
}
